{
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "overrides": [
    {
      "files": ["*.json", ".prettierrc"],
      "options": {
        "parser": "json",
        "bracketSpacing": false,
        "singleQuote": false
      }
    },
    {
      "files": ["*.ts"],
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": "*.md",
      "options": {
        "parser": "markdown"
      }
    }
  ]
}
